[run]
source =
    .
omit =
    */tests/*
    */scripts/*
    */venv/*
    */.venv/*
    */site-packages/*
    app.py
    code_cli_*.py
    code_data_ingest_*.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
